<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Completer Votre Profile</title>
    <link rel = "stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<header class="header">
    <h1 class="header__title">Création de mon profile</h1>
</header>
<div class="container overflow-hidden">
    <div class="multisteps-form">
        <div class="row">
            <div class="col-12 col-lg-8 m-auto">
                <form class="multisteps-form__form" th:action="@{/save_profile}" method="post"
                      th:object="${candidat}">
                    <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                        <h3 class="multisteps-form__title">Informations personnelles</h3>
                        <div class="multisteps-form__content">
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre nom" th:field ="*{candidat_nom}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre prénom" th:field ="*{candidat_prenom}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="email" placeholder="Entrer votre mail" th:field="*{candidat_email}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="tel" placeholder="Entrer votre numéro" th:field="*{candidat_phone}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre profil" th:field ="*{candidat_profil}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="form-control" type="text" name="" placeholder="Entrer votre adresse" th:field="*{candidat_adresse}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre ville" th:field="*{candidat_ville}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Entrer votre pays" th:field="*{candidat_pays}"/>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6">
                                    <label for="formFile" class="form-label">date de naissance</label>
                                    <input class="form-control" type="date" placeholder="Entrer votre age" th:field="*{candidat_date_naissance}"/>
                                </div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <label for="formFile" class="form-label">image CV</label>
                                    <input class="form-control" type="file" id="formFile" th:field="*{candidat_image}">
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-sm-6 ">
                                    <input type="radio" id="h" name="sexe" value="Masculin" th:field ="*{candidat_sex}"/>
                                    <label for="h">Masculin</label>
                                    <input type="radio" id="f" name="sexe" value="Féminin" th:field ="*{candidat_sex}"/>
                                    <label for="f">Féminin</label>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <button type="submit" class="btn btn-primary">sauvgarder</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>